.App {
  background-image: url('bg-text.png');
  background-attachment: fixed;
  margin-bottom: 0.5em;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.footer{
  margin-top: auto;
  padding: 0.5rem;
  text-align: center;
  background-color: rgb(235, 195, 64);
  background-position: bottom;
  bottom: 0;
  left: 0;
}
.icons{
  padding: 1 rem;
}